body {
    font-family: "bebas neue", serif;
}

/* Header */

/* Menu*/

.food-images {
    width: 100px;
    border-radius: 10px;
}

.food-items {
    /* display: flex; */
    border: 1px black solid;
}

.add-btn {
    border-radius: 50%;
    border: grey 1px solid;
    background-color: white;
    padding: 10px;
}

.add-btn:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.add-btn:active {
    background-color: lightgray;
}

/* Order summary */

#your-order {
    text-align: center;
}

#order-btn,
#pay-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #16DB99;
    color: white;
    border: none;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
}

#order-btn:hover,
#pay-btn:hover {
    cursor: pointer;
    background-color: #17c98d;
}

#order-btn:active,
#pay-btn:active {
    background-color: #13ab78;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    width: 85%;
    height: 70%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px black solid;
}

.modal-input {
    width: 80%;
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}