/* Header */

header {
    background-color: #6bdbf4;
    margin-top: 0px;
    width: 100%;
    height: 130px;
}

#logo {
    height: 130px;
}

body {
    font-family: "bebas neue", serif;
    width: 60%;
    margin: auto;
    background-color: #feec94;
}

/* Menu*/

.food-items {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px black solid; */
}

.food-all-info {
    display: flex;
    align-items: center;
}

.food-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* border: 1px black solid; */
    width: 60%;
}

.food-images {
    width: 170px;
    border-radius: 10px;
}

.add-btn {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: none;
    background-color: white;
    font-size: 20px;
    /* padding: 10px; */
}

.add-btn:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.add-btn:active {
    background-color: #e9e8e8;
}

/* Order summary */

#your-order {
    text-align: center;
    text-decoration: underline;
}

#order-btn,
#pay-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #dc4d54;
    color: white;
    border: none;
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#order-btn:hover,
#pay-btn:hover {
    cursor: pointer;
    background-color: #dc3e46;
}

#order-btn:active,
#pay-btn:active {
    background-color: #dc4d54;
}

#remove-btn {
    font-size: 10px;
    text-decoration: underline;
    color: darkred;
    cursor: pointer;
}

.ordered-items {
    display: flex;
    justify-content: space-between;
}

#paid-msg {
    color: #065F46;
    background-color: #ECFDF5;
    padding: 30px 30px;
    text-align: center;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 50%;
    height: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f8e68b;
    box-shadow: grey 5px 5px 5px;
}

.modal-input {
    width: 80%;
    padding: 10px 10px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pay-btn {
    margin-top: 30px;
}

#close-btn {
    border: none;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
}